
@{
    ViewBag.Title = "Index";
}

<div class="container">

    @{ if (!string.IsNullOrEmpty(ViewBag.message))
        {
            <div class="alert alert-danger" > @ViewBag.message</div>
        } 
    }
    <form action="/Home/Login" method="post">
        <div class="form-group">
            <label>Ingresa tu email</label>
            <input type="text" name="email" value=""/>
        </div>
        <div class="form-group">
            <label>Ingresa tu password</label>
            <input type="password" name="password" value=""/>
        </div>
        <div class="form-group">
            <button>inicia sesion</button>
        </div>
    </form>
    </div>

